gws/testdata/wsdl/echo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:echo/types"
    targetNamespace="urn:echo/types"
    elementFormDefault="qualified">
    <xsd:complexType name="EchoRequestType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EchoResponseType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EchoRequest" type="tns:EchoRequestType"/>
    <xsd:element name="EchoResponse" type="tns:EchoResponseType"/>
</xsd:schema>
